@page
@model OnlineBookstore413.Pages.CheckoutModel
@{
}

<h2>Your Cart</h2>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Book</th>
            <th>Author</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-left">@line.Book.Title</td>
                <td class="text-left">@line.Book.AuthorLast, @line.Book.AuthorFirst</td>
                <td class="text-right">@line.Book.Price.ToString("C")</td>
                <td class="text-center">@line.Quantity</td>
                <td>
                    <form asp-page-handler="Remove" method="post">
                            <input type="hidden" name="BookID" value="@line.Book.BookId" />
                            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                            <button type="submit" class="btn btn-sm btn-info">
                                Remove
                            </button>
                    </form>
                </td>
                <td class="text-right">@((line.Quantity * line.Book.Price).ToString("C")) </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"> Total: </td>
            <td>@Model.Cart.ComputeTotalSum().ToString("C")</td>
        </tr>
    </tfoot>

</table>

<div class="text-center">
    <a class="btn btn-info" href="@Model.ReturnUrl"> Continue Shopping</a>
</div>