@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Book

<div class="card mb-3 text-center bg-white" style="width:90%; margin:auto;">
    <div class="card-body">
        <h2 class="card-title">
            @Model.Title
            <span class="badge badge-info">
                @Model.Classification -- @Model.Category
            </span>
        </h2>
        <h4 class="card-subtitle mb-2 text-muted">@Model.AuthorFirst @Model.AuthorMiddle @Model.AuthorLast</h4>
        <br />
        <div class="row">
            <container class="col-6">
                <h6 class="text-info">Book Publisher: </h6><p class="card-text">@Model.Publisher</p>
                <br />
                <h6 class="text-info">ISBN:</h6><p class="card-text">@Model.ISBN</p>
                <br />
            </container>
            <container class="col-6">
                <h6 class="text-info">Price:</h6> <p class="card-text">$@Model.Price</p>
                <br />
                <h6 class="text-info">Page Count: </h6> <p class="card-text">@Model.Pages pages</p>
            </container>
        </div>

        <form id="Model.BookId" asp-page="/Checkout" method="post">
            <input type="hidden" asp-for="BookId" />
            <!--This will pass back the current url to the page so we can come back to this exact place-->
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="card-text p-1">
                @Model.Title
                <button type="submit" class="btn-info btn-sm pull-right" style="float:right">
                    Check Out
                </button>
            </span>
        </form>

    </div>
</div>