@{
    ViewData["Title"] = "Home Page";
}
@model BookListViewModel

<div>
    <div class="">
        <!--Loop through each book in the repository sent to the view-->
        <br /><br />
        @foreach (var x in Model.Books)
        {
            <div class="card mb-3 text-center bg-white" style="width:90%; margin:auto;">
                <div class="card-body">
                    <h2 class="card-title">
                        @x.Title
                        <span class="badge badge-info">
                            @x.Classification -- @x.Category
                        </span>
                    </h2>
                    <h4 class="card-subtitle mb-2 text-muted">@x.AuthorFirst @x.AuthorMiddle @x.AuthorLast</h4>
                    <br />
                    <div class="row">
                        <container class="col-6">
                            <h6 class="text-info">Book Publisher: </h6><p class="card-text">@x.Publisher</p>
                            <br />
                            <h6 class="text-info">ISBN:</h6><p class="card-text">@x.ISBN</p>
                            <br />
                        </container>
                        <container class="col-6">
                            <h6 class="text-info">Price:</h6> <p class="card-text">$@x.Price</p>
                            <br />
                            <h6 class="text-info">Page Count: </h6> <p class="card-text">@x.Pages pages</p>
                        </container>
                    </div>

                </div>
            </div>

        }
    </div>
    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-info" class="btn-group pull-right m-1"></div>
</div>
